Flask
Flask-SQLAlchemy
celery
redis
PyMySQL
# ultralytics (already in base image)
# ultralytics
librosa
matplotlib
scipy
numpy
# PyTorch (already in base image)
# torch
torchaudio
# torchvision
soundfile
cryptography
tensorflow
Pillow
# tensorflow-cpu removed

scikit-learn
pandas
openpyxl